---
title: Clank
---

%header
  %h1 Clank
  %small Build things
  %br
  %br
  %p A collection of free software products and projects for productivity and the like
  %p Created by Micah Cooper

%main
-# - Products.each do |name, (description, tech, url)|
-#   %dl
-#     %dt= link_to name, url, target: :blank
-#     %dd
-#       = description
-#       %small= tech
