---
title: Clank
---

%main

  %header
    %h1 Clank
    %small Build things
    %br
    %br
    %p A collection of free software products and projects for productivity and the like
    %p Created by Micah Cooper

  %section#content
    - Projects.each do |name, (description, tech, url, type)|
      = link_to url do
        %dl
          %dt{class: type}
            = name
            %small= tech
          - if description.present?
            %dd
              = description
